.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    width: 1200px;
    border-bottom: 1px solid #d7d7d7;
}



.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h2 {
    font-size: 15px;
    width: 150px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 150px;
    margin-top: 10px;
}

.coin-volume {
    width: 230px;
}

.coin-market {
    width: 10px;
}

.coin-percent {
    width: 5%;
    margin-top: 10px;
}

.red{
    color: red;
}

.green{
    color: #42c242;
}

span {
    font-weight: 700;
    font-size: 15px;
    
}
