*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #1a1a1c;
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
  padding-bottom: 50px;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
}

.coin-text h1 {
  margin-top: 5px;
}

.coin-input {
  
  font-size: 16px;
  padding-left: 16px;
  font-weight: 400;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #f0bd50 0%, #facc6a 28%, #f5d080 50%);
  color: #000;
}

.coin-input::placeholder{
  color: #000;
  font-weight: 500 !important;


}

.fa-bitcoin {
  font-size: 60px !important;
  color: #f7931b;
  margin-right: 20px !important;
}